/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
/* Header Styles */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 0;
    background-color: transparent; /* Make header background transparent */
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    transition: height 0.3s ease; /* Add transition effect for height change */
    max-height: 130px;
}
#header.scrolled {
    height: 40%; /* Set the desired width */
    transition: width 0.3s ease; /* Add transition effect */
    background-color: #2b2b2b;
}
#logo {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    margin-bottom: 10px; /* Add space between logo and menu */
    margin-top: 0;
}
#logo:hover {
    color: #ffcd00;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}
nav {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 17px; /* Adjust spacing between menu items */
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent; /* Make background transparent */
}

nav ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffcd00;
    transition: width 0.3s ease, left 0.3s ease;
    z-index: -1;
}

nav ul li a:hover:before {
    width: 100%;
    left: 0;
}

nav ul li a:hover {
    color: #333;
    background-color: #ffcd00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive menu for smaller screens */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .strip {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s;
}

@media (max-width: 400px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.9); /* Adjust for mobile */
        padding-top: 10px;
    }

    nav ul li {
        margin: 15px 0;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .strip:nth-child{
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .strip:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}   
    nav ul.active {
        display: flex;
    }
    
    /* Hero Section Styles */
    #hero {
        position: relative;
        height: 768px;
        background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.3), rgba(0, 0, 0, 0.3)), url('./asset/background.jpg');
        background-size: cover;
        background-position: center;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column; /* Menjadikan konten di dalam section berada dalam satu kolom */
        justify-content: center; /* Mengatur konten vertikal ke tengah */
        margin-top: -180px; /* Adjust to overlap with header */
        z-index: -1; /* Ensure hero is behind header */
    }
    
    .hero-text {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .hero-text h1 {
        margin: auto;
        max-width: 430px;
        margin-bottom: 20px;
    }
    
    .hero-text p {
        margin-bottom: 20px;
    }
    
    .filter-search {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    


    /* Dropdown Styles */
    .dropdown-container {
        display: flex;
        align-items: center;
        justify-content: flex-end; /* Menempatkan dropdown di sebelah kanan */
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    .dropdown {
        margin-left: 10px; /* Jarak antara tombol prev/next dengan dropdown */
        margin-right: 10px;
    }

    .dropdown select {
        width: 210px; /* Ubah lebar dropdown sesuai kebutuhan */
        padding: 8px; /* Sesuaikan padding sesuai kebutuhan */
        border: 1px solid #050505;
        border-radius: 5px;
        background-color: #fffefd;
        outline: none;
        transition: border-color 0.3s ease;
        font-size: 14px; /* Sesuaikan ukuran font sesuai kebutuhan */
    }

    .dropdown select:hover,
    .dropdown select:focus {
        border-color: #111110;
    }

    #prevBtn,
    #nextBtn {
        padding: 8px; /* Sesuaikan padding sesuai kebutuhan */
        border-radius: 5px;
        background-color: #ffc107;
        color: #0d0d0d;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 14px; /* Sesuaikan ukuran font sesuai kebutuhan */
    }

    #prevBtn:hover,
    #nextBtn:hover {
        background-color: #78cae8;
    }

    /* Chart Container Styles */
    .chart-container {
        display: flex;
        padding: auto;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        max-height: fit-content;
    }

    .chart-images {
        display: none;
    }

    .chart-images.active {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .chart-images img {
        width: calc(20% - 20px);
        margin: 10px;
    }

    .chart-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    /* When .chart-row is inside an active .chart-images */
    .chart-images.active .chart-row {
        opacity: 1;
        transform: translateY(0);
    }

    /* Existing .chart-container styles */
    .chart-container {
        flex: 1 1 calc(50% - 40px); 
        margin: 20px;
        max-width: 600px; /* Optional: control max size of the charts */
    }
    /* Tambahkan garis untuk sel dan batas */
    #data-table {
        border-collapse: collapse;
        width: 100%;
    }

    #data-table th, #data-table td {
        border: 1px solid #dddddd;
        padding: 8px;
        text-align: left;
    }

    /* Tambahkan garis untuk sel dan batas */
    #data-table {
        border-collapse: collapse;
        width: 80%; 
        margin: 0 auto; 
    }

    #data-table th, #data-table td {
        border: 1px solid #dddddd;
        padding: 6px; 
        font-size: 12px; 
        text-align: left;
    }

    /* Tambahkan warna latar belakang untuk setiap baris ganjil */
    #data-table tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    /* Atur warna latar belakang untuk header tabel */
    #data-table th {
        background-color: #dddddd;
        font-weight: bold;
    }


    /* Footer Styles */
    footer {
        background-color: #2b2b2b;
        color: #fff;
        padding: 50px 0;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: center;
    }

    .footer-section {
        flex: 1;
        margin-right: 20px;
    }

    .footer-section h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .footer-section ul {
        list-style: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .footer-section ul li a:hover {
        color: #ffcd00;
    }

    .footer-legal {
        text-align: center;
        margin-top: 30px;
    }

    .footer-legal p {
        font-size: 14px;
    }

    /* Responsive Styles */
    @media screen and (max-width: 768px) {
        .chart-images img {
            width: calc(50% - 20px);
        }
    }

    /* Navbar saat di atas layar dan responsif */
    @media screen and (max-width: 300px) {
        header {
            padding: 10px 0;
        }
        .hamburger-menu {
            display: none; /* Sembunyikan tombol hamburger secara default */
            position: fixed;
            top: 20px; /* Jarak dari bagian atas layar */
            right: 20px; /* Jarak dari bagian kanan layar */
            z-index: 1500; /* Pastikan tombol hamburger di atas konten lain */
            background: none;
            border: none;
            cursor: pointer;
        }
    #nav-menu {
        display: none; /* Sembunyikan menu navigasi secara default */
        position: fixed;
        top: 60px; /* Jarak dari bagian atas layar */
        right: 20px; /* Jarak dari bagian kanan layar */
        z-index: 1400; /* Pastikan menu navigasi di atas konten lain kecuali tombol hamburger */
        background-color: #4e4e4e;
        border-radius: 5px;
        padding: 10px;
    }
        #nav-menu.active {
            display: block;
        }
        #nav-menu li {
            margin: 10px 0;
        }
    }


/* Default table styles */
table {
    max-width: 99%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.chart--container {
    margin: auto;
    min-height: 200px;
    width: 90%;
    height: 900%;
    margin-bottom: 50px;
}

.zc-ref {
    display: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .chart--container {
        width: 95%;
        height: 800%;
    }

    th, td {
        padding: 6px;
    }
}

@media screen and (max-width: 992px) {
    .chart--container {
        width: 100%;
        height: 700%;
    }

    th, td {
        padding: 5px;
    }
}

@media screen and (max-width: 768px) {
    .chart--container {
        width: 100%;
        height: 600%;
    }

    th, td {
        padding: 4px;
        font-size: 14px;
    }

    th {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .chart--container {
        width: 100%;
        height: 500%;
    }

    th, td {
        padding: 3px;
        font-size: 12px;
    }

    th {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .chart--container {
        width: 100%;
        height: 400%;
    }

    th, td {
        padding: 2px;
        font-size: 10px;
    }

    th {
        font-size: 12px;
    }

    table {
        max-width: 100%;
    }
}

/* Team Profile Cards */

    .team-section {
        padding: 40px 0;
        background-color: #f9f9f9;
        margin-top: 100px;
    }
    #team-section h2 {
        text-align: center;
        font-size: 36px;
        color: #333;
        margin-bottom: 40px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .card {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 250px;
        margin: 20px;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    
    .card-content {
        padding: 20px;
    }
    
    .card-title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .card-description {
        margin-bottom: 20px;
        font-size: 16px;
        color: #666;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .social-link {
        background-color: #f0f0f0;
        border-radius: 50%;
        padding: 8px;
        transition: background-color 0.3s;
    }
    
    .social-link:hover {
        background-color: #ddd;
    }
    
    .social-link i {
        font-size: 24px;
        color: #666;
    }